.background-col{
    background-image: url('./images/banner.png');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height:551px;
}

.slider-images img{
    
        width: 351px;
        max-width: 100%;
    
}
.slider-images2 img{
    
    width: 280px !important;
    max-width: 100%;

}


.logo1{
  width: 10%;
  padding-right: 20px;
}
.logo1 img{
  width: 100%;
  margin-top: 10px;
}
section{
  display: flex;
  justify-content: space-between;
  padding-left: 33px;
  /* padding-top: 5px; */
}

.nav-11{
  display: flex;
  width: 90%;
}

.triangle-left1 {
  /* width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 22px solid  #f58634;
  display: flex; */
  width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-bottom: 36px solid transparent;
    border-right: 51px solid #f58634;
    display: flex;
}

.inner-triangle1 {
  position: relative;
    top: -20px;
    left: 2px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 33px solid #f58634;
}

.nav-21{
  display: flex;
    background-color: #f58634;
    width: 100%;
    /* height: 55px; */
    padding: 0 5%;
    color: black;
    /* justify-content: space-around;*/
}

.list1{
  display: flex;
  position: relative;
}

.list1 li{
  list-style: none;
  padding: 0 25px;
}

.list1 a{
  color: #fafbfd;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.nav-21 ul li a:hover{
  color: blue;   
}

.nav-21 ul li:hover .dropdown{
     display: block;
     background-color: #f58634;
     position: absolute;
     left: 0;  
     top: 55px;
}

.dropdown1{
  display: none;
}

.nav-21 ul li:hover .list-1{
  margin: 10px;
}

.nav-21 ul li:hover .list-1 li{
  width: 200px;
  padding: 10px;
}

.list-11 li:hover{
  color: white;
}
.fa{
  margin-left: 10px;
}

.nav-21 ul li:hover .dropdown-1{
  display: block;
  background-color: #f58634;
  position: absolute;
  top: 55px;
}

.dropdown-11{
  display: none;
}

.dropdown-21{
  display: none;
}

.dropdown1 ul li:hover .dropdown-2{
 display: block;
 background-color: #f58634;
 position: absolute;
 top:0;
 left: 150px;
}

.dropdown-31{
  display: none;
}

.dropdown1 ul li:hover .dropdown-3{
  display: block;
  background-color: #f58634;
  position: absolute;
  top:0;
  left: 150px;
}

.list1{
  display: flex;
    background-color: #f58634;
    width: 100%;
    padding-left: 30px;
    align-items: center;
    justify-content: space-around;
}

.list1 button{
  background-color: #fafbfd;
    color: #f58634;
    border: none;
    border-radius: 20px;
    padding: 8px;
    box-shadow: rgba(216, 89, 25, 0.2) 0px 8px 24px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    box-shadow: 12px 12px 20px 0px rgb(255 255 255 / 38%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding-bottom: 10px;
  }
  .list1{
    margin-bottom: 0;
  }

.slider-images {
    position: absolute;
    top: 7.2rem;
}
.content-left{
    height: 304px;
    padding-top: 100px;
}
/* .join-now{
    background-color: transparent;
    
    border:1px solid #f58634;
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    
} */

/* CSS */
.join-now {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #f58634;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}
/* .join-now:hover{
    background-color: #f58634;
} */
.word {
    margin: auto;
    color: black;
    font-size: 35px;
    font-weight: 500;
    font-family: light 200;
    letter-spacing: 4px;
    /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
  }
  .title {
    margin: auto;
    color: black;
    font: 600 normal 2.5em 'tahoma';
    font-family: light 200;
    letter-spacing: 4px;
    /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
  }
  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  /* body {
    background-color: #000;
  } */
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
    position: relative;
    top: -103px;
    padding-bottom: 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
  
    border-radius: 28px;
  }
  .card-para{
    font-size: 14px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #ffffff;
    text-decoration: none;
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
    .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_title {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date-box .card-para {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    /* min-height: 87px; */
    margin: 0 0 8px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 23px;
    color: black;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: black;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f58634;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f58634;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  /* .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  } */
  .ag-courses_item .ag-courses-item_bg {
    background-color: #f58634;
    transition: 0.7s;
  }
  /* .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
   */
  .foundation{
    background-color: #fafafa;
    padding: 60px 0;
  }
  .heading{
    font-weight: 700;
    font-size: 36px;
    color: #0b0b0b;
    margin-bottom: 18px;
  }
  .about-list-active{
    background: #f58634;
    color: #ffff;
    border-radius: 4px;
  }
  .about-list:nth-child(n-2){
    margin-left: 20px;
  }
  .about-list:hover{
    background: #f58634;
    color: #ffff;
  }
  .about-link:hover{
   color: white;
  }
  .about-list{
    /* margin-left: 10px; */
    background-color: #e0e0e0;
    border-radius: 4px;
  }
  .about-link{
    color: black;
  }
  #about-para{
    font-weight: 500;
    color: #685f78;
    padding-bottom: 10px;
  }
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0); 
  }
}
.slider-images2 {
    animation: up-down 5s ease-in-out infinite alternate-reverse both;
}